.App {
  background-color: #ccc;
  padding: 30px;
  margin: 30px auto;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App h1 {
  font-weight: bold;
  font-size: 32px;
}
